.student_request {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e2dede;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #e1dede;
  }

 #patient_symptoms{
   
    align-items: center;
 }
  